@import 'tailwindcss';

input {
  transition:
    background-color 9999999s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s,
    color 9999999s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

@theme {
  --color-ctp-rosewater-100: #fdf6f4;
  --color-ctp-rosewater-200: #f9e7e2;
  --color-ctp-rosewater-300: #f6d9d0;
  --color-ctp-rosewater-400: #f4ccc7;
  --color-ctp-rosewater-500: #f2d5cf;
  --color-ctp-rosewater-600: #e8c0b8;
  --color-ctp-rosewater-700: #d9a296;
  --color-ctp-rosewater-800: #c18073;
  --color-ctp-rosewater-900: #a66659;

  --color-ctp-flamingo-100: #fdf5f5;
  --color-ctp-flamingo-200: #f9dcd9;
  --color-ctp-flamingo-300: #f6c4c0;
  --color-ctp-flamingo-400: #f2b3af;
  --color-ctp-flamingo-500: #eebebe;
  --color-ctp-flamingo-600: #e3a7a7;
  --color-ctp-flamingo-700: #d48c8c;
  --color-ctp-flamingo-800: #bd7171;
  --color-ctp-flamingo-900: #a45a5a;

  --color-ctp-pink-100: #fdf5fb;
  --color-ctp-pink-200: #f9d8f2;
  --color-ctp-pink-300: #f6bbec;
  --color-ctp-pink-400: #f5a8e8;
  --color-ctp-pink-500: #f4b8e4;
  --color-ctp-pink-600: #e9a1d7;
  --color-ctp-pink-700: #d983c2;
  --color-ctp-pink-800: #c464aa;
  --color-ctp-pink-900: #aa4d90;

  --color-ctp-mauve-100: #f9f5fd;
  --color-ctp-mauve-200: #e9ddf5;
  --color-ctp-mauve-300: #d9c5ec;
  --color-ctp-mauve-400: #d1b7e9;
  --color-ctp-mauve-500: #ca9ee6;
  --color-ctp-mauve-600: #b888db;
  --color-ctp-mauve-700: #a370ca;
  --color-ctp-mauve-800: #8b56b7;
  --color-ctp-mauve-900: #73439f;

  --color-ctp-red-100: #fdf3f3;
  --color-ctp-red-200: #f9d0d1;
  --color-ctp-red-300: #f6adb0;
  --color-ctp-red-400: #ef9093;
  --color-ctp-red-500: #e78284;
  --color-ctp-red-600: #dc7072;
  --color-ctp-red-700: #cc595b;
  --color-ctp-red-800: #b64446;
  --color-ctp-red-900: #9c3336;

  --color-ctp-maroon-100: #fdf4f4;
  --color-ctp-maroon-200: #f9d5d7;
  --color-ctp-maroon-300: #f6b6b9;
  --color-ctp-maroon-400: #f2a2a6;
  --color-ctp-maroon-500: #ea999c;
  --color-ctp-maroon-600: #de8689;
  --color-ctp-maroon-700: #ce6c6f;
  --color-ctp-maroon-800: #b85558;
  --color-ctp-maroon-900: #9e4246;

  --color-ctp-peach-100: #fef7f2;
  --color-ctp-peach-200: #fcded3;
  --color-ctp-peach-300: #fad0b3;
  --color-ctp-peach-400: #f8c39f;
  --color-ctp-peach-500: #ef9f76;
  --color-ctp-peach-600: #e28e65;
  --color-ctp-peach-700: #d17852;
  --color-ctp-peach-800: #bb6543;
  --color-ctp-peach-900: #a15338;

  --color-ctp-yellow-100: #fdfaf4;
  --color-ctp-yellow-200: #f9efd6;
  --color-ctp-yellow-300: #f6e4b8;
  --color-ctp-yellow-400: #f4dca2;
  --color-ctp-yellow-500: #e5c890;
  --color-ctp-yellow-600: #d8b57c;
  --color-ctp-yellow-700: #c7a067;
  --color-ctp-yellow-800: #b08a55;
  --color-ctp-yellow-900: #977346;

  --color-ctp-green-100: #f8fcf5;
  --color-ctp-green-200: #e7f2e0;
  --color-ctp-green-300: #d6e8cb;
  --color-ctp-green-400: #c9e0b9;
  --color-ctp-green-500: #a6d189;
  --color-ctp-green-600: #93c273;
  --color-ctp-green-700: #7fae5c;
  --color-ctp-green-800: #6a984b;
  --color-ctp-green-900: #587f3d;

  --color-ctp-teal-100: #f5fbfa;
  --color-ctp-teal-200: #e0f1ed;
  --color-ctp-teal-300: #cce8e0;
  --color-ctp-teal-400: #bfe0d5;
  --color-ctp-teal-500: #81c8be;
  --color-ctp-teal-600: #6eb9ad;
  --color-ctp-teal-700: #5aa799;
  --color-ctp-teal-800: #4a9184;
  --color-ctp-teal-900: #3c7a6e;

  --color-ctp-sky-100: #f6fcfd;
  --color-ctp-sky-200: #e2f3f7;
  --color-ctp-sky-300: #cdeaf0;
  --color-ctp-sky-400: #b9e1e8;
  --color-ctp-sky-500: #99d1db;
  --color-ctp-sky-600: #83c4d0;
  --color-ctp-sky-700: #6ca3bc;
  --color-ctp-sky-800: #588ba6;
  --color-ctp-sky-900: #497791;

  --color-ctp-sapphire-100: #f5f9fd;
  --color-ctp-sapphire-200: #e0edf8;
  --color-ctp-sapphire-300: #cbdced;
  --color-ctp-sapphire-400: #b7d0e4;
  --color-ctp-sapphire-500: #85c1dc;
  --color-ctp-sapphire-600: #70b4d3;
  --color-ctp-sapphire-700: #5ba3c5;
  --color-ctp-sapphire-800: #4990b3;
  --color-ctp-sapphire-900: #3c7d9f;

  --color-ctp-blue-10: #f6f9fe;
  --color-ctp-blue-100: #f6f9fe;
  --color-ctp-blue-200: #e1e9fd;
  --color-ctp-blue-300: #ccd9f9;
  --color-ctp-blue-400: #b9cdf6;
  --color-ctp-blue-500: #8caaee;
  --color-ctp-blue-600: #789de1;
  --color-ctp-blue-700: #658cd0;
  --color-ctp-blue-800: #5279be;
  --color-ctp-blue-900: #4267a9;

  --color-ctp-lavender-100: #fbfbfe;
  --color-ctp-lavender-200: #eae9fc;
  --color-ctp-lavender-300: #d9d8f8;
  --color-ctp-lavender-400: #c9c7f5;
  --color-ctp-lavender-500: #babbf1;
  --color-ctp-lavender-600: #a9a8e8;
  --color-ctp-lavender-700: #9492d9;
  --color-ctp-lavender-800: #7f7cc8;
  --color-ctp-lavender-900: #6b67b4;

  --color-ctp-crust-50: #2e3141;
  --color-ctp-crust-100: #2c2f3f;
  --color-ctp-crust-200: #2a2d3d;
  --color-ctp-crust-300: #282b3b;
  --color-ctp-crust-400: #262939;
  --color-ctp-crust-500: #232634;
  --color-ctp-crust-600: #20222e;
  --color-ctp-crust-700: #1c1e27;
  --color-ctp-crust-800: #181a21;
  --color-ctp-crust-900: #14161c;

  --color-ctp-mantle-100: #2e3142;
  --color-ctp-mantle-200: #2d3040;
  --color-ctp-mantle-300: #2c2f3e;
  --color-ctp-mantle-400: #2b2e3d;
  --color-ctp-mantle-500: #292c3c;
  --color-ctp-mantle-600: #262937;
  --color-ctp-mantle-700: #232531;
  --color-ctp-mantle-800: #20222b;
  --color-ctp-mantle-900: #1b1d24;

  --color-ctp-base-100: #313548;
  --color-ctp-base-200: #303447;
  --color-ctp-base-300: #303446;
  --color-ctp-base-400: #2f3345;
  --color-ctp-base-500: #303446;
  --color-ctp-base-600: #2c3041;
  --color-ctp-base-700: #282b3b;
  --color-ctp-base-800: #232634;
  --color-ctp-base-900: #1f222f;

  --color-ctp-surface0-100: #44485d;
  --color-ctp-surface0-200: #43475c;
  --color-ctp-surface0-300: #42465b;
  --color-ctp-surface0-400: #41455a;
  --color-ctp-surface0-500: #414559;
  --color-ctp-surface0-600: #3b3f51;
  --color-ctp-surface0-700: #353949;
  --color-ctp-surface0-800: #2f3340;
  --color-ctp-surface0-900: #2a2d39;

  --color-ctp-surface1-100: #545a70;
  --color-ctp-surface1-200: #53596f;
  --color-ctp-surface1-300: #52586e;
  --color-ctp-surface1-400: #51576d;
  --color-ctp-surface1-500: #51576d;
  --color-ctp-surface1-600: #4a4f64;
  --color-ctp-surface1-700: #43475b;
  --color-ctp-surface1-800: #3c3f51;
  --color-ctp-surface1-900: #353848;

  --color-ctp-surface2-100: #656b81;
  --color-ctp-surface2-200: #646a80;
  --color-ctp-surface2-300: #63697f;
  --color-ctp-surface2-400: #626880;
  --color-ctp-surface2-500: #626880;
  --color-ctp-surface2-600: #5a5f76;
  --color-ctp-surface2-700: #52566c;
  --color-ctp-surface2-800: #4a4d61;
  --color-ctp-surface2-900: #424456;

  --color-ctp-overlay0-100: #767c96;
  --color-ctp-overlay0-200: #757b95;
  --color-ctp-overlay0-300: #747a94;
  --color-ctp-overlay0-400: #737994;
  --color-ctp-overlay0-500: #737994;
  --color-ctp-overlay0-600: #6a6f86;
  --color-ctp-overlay0-700: #616578;
  --color-ctp-overlay0-800: #585b6a;
  --color-ctp-overlay0-900: #4f515d;

  --color-ctp-overlay1-100: #868ca8;
  --color-ctp-overlay1-200: #858ba7;
  --color-ctp-overlay1-300: #848aa6;
  --color-ctp-overlay1-400: #838ba7;
  --color-ctp-overlay1-500: #838ba7;
  --color-ctp-overlay1-600: #7a7f9a;
  --color-ctp-overlay1-700: #70758c;
  --color-ctp-overlay1-800: #676b7f;
  --color-ctp-overlay1-900: #5e6172;

  --color-ctp-overlay2-100: #979dbd;
  --color-ctp-overlay2-200: #969cbd;
  --color-ctp-overlay2-300: #959bbc;
  --color-ctp-overlay2-400: #949cbb;
  --color-ctp-overlay2-500: #949cbb;
  --color-ctp-overlay2-600: #8a8fb0;
  --color-ctp-overlay2-700: #8084a3;
  --color-ctp-overlay2-800: #767996;
  --color-ctp-overlay2-900: #6c6e89;

  --color-ctp-subtext0-100: #a8b0d0;
  --color-ctp-subtext0-200: #a7afcf;
  --color-ctp-subtext0-300: #a6aece;
  --color-ctp-subtext0-400: #a5adce;
  --color-ctp-subtext0-500: #a5adce;
  --color-ctp-subtext0-600: #9b9fbd;
  --color-ctp-subtext0-700: #9192ad;
  --color-ctp-subtext0-800: #86869d;
  --color-ctp-subtext0-900: #7c7b8d;

  --color-ctp-subtext1-100: #b8c1e3;
  --color-ctp-subtext1-200: #b7c0e2;
  --color-ctp-subtext1-300: #b6bfe2;
  --color-ctp-subtext1-400: #b5bfe2;
  --color-ctp-subtext1-500: #b5bfe2;
  --color-ctp-subtext1-600: #aab3d4;
  --color-ctp-subtext1-700: #9fa7c5;
  --color-ctp-subtext1-800: #949cb6;
  --color-ctp-subtext1-900: #8a90a7;

  --color-ctp-text-100: #d7def7;
  --color-ctp-text-200: #d4dcf6;
  --color-ctp-text-300: #d0daf5;
  --color-ctp-text-400: #cbd7f5;
  --color-ctp-text-500: #c6d0f5;
  --color-ctp-text-600: #bdc7e5;
  --color-ctp-text-700: #b2bcd3;
  --color-ctp-text-800: #a6b0c1;
  --color-ctp-text-900: #9aa5af;

  --color-ctp-primary: var(--color-ctp-mauve-500);
  --color-ctp-secondary: var(--color-ctp-lavender-500);
  --color-ctp-accent: var(--color-ctp-peach-500);
  --color-ctp-success: var(--color-ctp-green-500);
  --color-ctp-warning: var(--color-ctp-yellow-500);
  --color-ctp-error: var(--color-ctp-red-500);
  --color-ctp-info: var(--color-ctp-sky-500);

  --color-ctp-background: var(--color-ctp-base-500);
  --color-ctp-surface: var(--color-ctp-mantle-500);
  --color-ctp-foreground: var(--color-ctp-text-500);
}
